/* REMEMBER: DEFAULT CSS IS MOBILE SCREENS! */
.about-and-contact { pointer-events: none; }
.info-and-about-content { pointer-events: auto; }
.navbar.fixed-top { z-index: 5000; }

/* Footer icon hover */
footer a i {
  transition: color 0.2s ease-in-out;
}

footer a:hover i {
  color: #ffffff !important;
}

.bg-grey-transparent {
  background-color: rgba(0, 0, 0, 0.550);
}

.bg-dark-transparent {
  background-color: rgba(0, 0, 0, 0.75);
}

.bg-dark2-transparent {
  background-color: rgba(0, 0, 0, 0.85);
}

body {
  background-image: url("../src/Background2.jpg");
  background-repeat:no-repeat;
  background-size: 100vw;
  background-size: calc(var(--vh, 1vh) * 90);
  background-position-x: 45%;
  background-position-y:top !important;
  /* min-height: calc(var(--vh, 1vh) * 100) !important;
  min-height: -webkit-fill-available !important */
}

nav {
  z-index: 100;
}

.navbarToggler {
  font-size: 0.5rem;
}

.about-navTab-md:hover {
  color: white !important;
}

.mobile-nav-bar-ul {
  padding-right: 0.7rem !important;
}

.headerSection {
  z-index: -100;
}

.header-button-portfolio {
  border: 2px solid#dc3545;
  width: 20% !important;
}

.header-button-email {
  border: 2px solid #ffc107;
}

.about-and-contact {
  width: 100vw;
  position: fixed;
  top:50%;
  z-index: 9999;
}

footer {
  height: calc(var(--vh, 1vh) * 10);
  font-family: Georgia, "Times New Roman", Times, serif;
}




/* ///////////////////////////////////////////////// all classes above are currently in use!!!!! /////////////////////////////////////////////// */



/* // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default (as in Bootstrap) */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

} 

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .headerSection {
    z-index: 200;
  }
  .navbar-collapse {
    flex-grow: 0;
  }
  footer p, i {
    font-size: 1.2rem;
  }

  .portfolio {
    width: 50vw;
  }
  .email {
    width: 50vw;
  }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    background-size: 50vw 90vh;
    background-position-x: 0%;  
  } 

  header {
    left: 50vw !important;
  }

  header h1, h2 {
    font-size: 2.5rem !important;
  }

   /* // temp fix  */
   .frameworks {
    margin-left: 6px;
  }
  
  .header-button-portfolio {
    border: 2px solid#dc3545;
    width: 100% !important;
  }
  
  .header-button-email {
    border: 2px solid #ffc107;
  }

  .front-end {
    border-top-right-radius: 0% !important;
    border-bottom-right-radius: 0% !important;
  }

  .dev {
    border-top-left-radius: 0% !important;
    border-bottom-left-radius: 0% !important;
  }

  .about-and-contact {
    top: 38%;
    left: 8.5%;
  }

  .bulletPoint li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    margin-left: 1rem;
    width: 1.2em;
    display: inline-block;
  }

  .portfolio {
    width: 33vw;
  }

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .bg-black {
    background-color: black !important;
  }
  header h1, h2 {
    font-size: 2.2rem !important;
  } 
  .info-and-about-content {
    background-color: rgb(42, 42, 42) !important;
    border: solid rgb(161, 161, 161) 2px;
  } 
} 

/* // Extra large devices FHD (1900px and up) */
@media (min-width: 1900px) {
  .headerSection {
    margin-top: 5rem !important;
  }
  .front-end-dev {
    padding-right: 10rem !important;
    margin-bottom: 5rem !important;
  }
  .header-buttons {
    padding-right: 13rem !important;
  }

  .about-and-contact {
    z-index: 9999;
    left: 20.9%;
    top: 50%
  }

  .contact {
    max-width: 22rem;
  }

  .skills {
    max-width: 35rem;
  }
 
  .email {
    max-width: 25vw;
  }

  .email-body {
    margin-top: 3rem !important;
  }

  .portfolio {
    max-width: 25vw;
  }

  .portfolio-body {
    margin-top: 3rem !important;
  }

  header h1, h2 {
    font-size: 3rem !important;
  }

} 


/* // Small mobile screens */
@media (max-width: 25em) {
  header h2 {
    font-size: 2rem !important;
  }  
}






/* ////////////////////////////// header ////////////////////////////// */
/* .headerContainer {
  margin-top: rem !important;
  margin-right: 11rem !important;  
}

.headerH1 {
  /* font-family:cursive !important; */
  /* margin-right: 10rem; */
/* } */

/* .headerH2 {
  /* font-family:cursive !important; */
  /* font-style: italic; */
  /* margin-top: 7rem !important; */
/* } */ 

/* .headerButtons { */
  /* margin-right: 1rem !important; */
  /* margin-top: 10rem !important; */
/* } */ 


/* ////////////////////////////// footer ////////////////////////////// */





/* ////////////////////////////// about and contact - info ////////////////////////////// */
/* .aboutAndContact {
  position: fixed;
  top:32rem;
  left:18.7rem;
  min-width: 60%;
  min-height: 80%;
}

.offCanvasInfoCard {
  margin-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
} */


/* ////////////////////////////// navbar ////////////////////////////// */
/* .navBarToggler {
  font-size: 0.5rem;
} */

/* .navBarItem {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.863) !important;
}

.navBarItem:hover {
  color: white !important;
}

nav, ul {
  float: right;
} */

/* .navbarList {
  flex-grow: 0 !important
} */


/* ////////////////////////////// portfolio ////////////////////////////// */
/* .portfolioHeader {
  
  font-family: Arial, Helvetica, sans-serif;
}

.offCanvasPortfolioInfoCard {
  background-color: rgba(0, 0, 0, 0.5);
}

.bulletPoint li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  margin-left: 1rem;
  width: 1em;
  display: inline-block;
}




footer {
  background-color: rgba(0, 0, 0, 1);
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #ced4dac9
} */


/* ///////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////// **   MEDIA QUERIES  **  //////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////// */




/**************************/
/* BELOW 1370px (Smaller desktops/small laptop) */
/**************************/

/* @media (max-width: 86em) {
    .aboutAndContact {
      position: fixed;
      top:15rem;
      left:8.5rem;
      min-width: 70%;
      min-height: 80%;
    }

    .headerContainer {
      margin-top: 7rem !important;
      margin-right: 7rem !important;  
    }
    
    .headerH1 {
      /* font-family:cursive !important; */
      /* margin-right: 10rem; */
      /* font-size: 3rem; */
    /* } */
    
    /* .headerH2 {
      /* font-family:cursive !important; */
      /* font-style: italic; */
      /* font-size: 3rem; */
      /* margin-top: 5rem !important; */
    /* } */
     /* */ 
    /* .headerButtons {
      margin-right: 0rem !important;
      margin-top: 3.5rem !important;
    } */

/* }  */

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  
}

/**************************/
/* ????????????????????????????????????????????????????????????????????? 
/**************************/

/* @media only screen and (max-width: 600px) {
  .cssSmallScreens {
    font-weight: bold;
  }
  .cssSmallScreensSmallerFont {
    font-size: 1.25rem;
  }
  .removeOnSmallScreens {
    display: none;
  }
  .showOnSmallScreen {
    display: list-item;
  } */
  /* .marginSmallScreen {
    margin-top: 6rem;
  }
  .marginSmallScreen2 {
    margin-top: 2rem;
  }
  .marginSmallScreen3 {
    margin-top: 9rem;
  } */

  /* .sizeSmallScreen {
    font-size: 0.85rem;
  }
  .portfolio {
    width: 100vw;
    height: 95vh;
  }
  .offCanvasInfoCard {
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .offCanvasPortfolioInfoCard {
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .offcanvas-header {
    padding-bottom: 0;
  }

  .aboutAndContact {
    width: 100vw;
    height: 70vh;
  }
  .footerH2 {
    font-size: 1.1rem !important;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: -4px;
    color: #868e96;
  }
  .footerIcons {
    padding-left: 30%;
    padding-top: 0;
  }
  .footerIcon {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 0;
  } */
  /* .backgroundPic {
    height: "75vh";
  } */

  /* .bodyCss {
    background-image: url("../src/Background2.jpg");
    background-repeat: no-repeat; */
    /* background-size: 100vw;
    background-size: 88vh;
    background-position-x: 50%; */
  /* } */

  /* .emailField {
    margin-top: 5%;
  }
} */
